In [1]:
import sqlite3
import pandas as pd

In [27]:
conn = sqlite3.connect('data/movie_database.db')
def consulta(query):
    return pd.read_sql(query, conn)

In [28]:
consulta('SELECT * FROM movies')

   id                            title  year  rating  genre_id  director_id
0   1                    The Godfather  1972     9.2         1            1
1   2         The Shawshank Redemption  1994     9.3         1            2
2   3                 Schindler's List  1993     8.9         1            3
3   4                      Raging Bull  1980     8.3         1            4
4   5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
5   6                          Titanic  1997     7.7         1            6
6   7                     Forrest Gump  1994     8.8         1            7
7   8                        Star Wars  1977     8.7         2            8
8   9       E.T. the Extra-Terrestrial  1982     7.9         3            3
9  10                          Amadeus  1984     8.4         1            5

In [29]:
consulta('SELECT * FROM movies LIMIT 10')

   id                            title  year  rating  genre_id  director_id
0   1                    The Godfather  1972     9.2         1            1
1   2         The Shawshank Redemption  1994     9.3         1            2
2   3                 Schindler's List  1993     8.9         1            3
3   4                      Raging Bull  1980     8.3         1            4
4   5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
5   6                          Titanic  1997     7.7         1            6
6   7                     Forrest Gump  1994     8.8         1            7
7   8                        Star Wars  1977     8.7         2            8
8   9       E.T. the Extra-Terrestrial  1982     7.9         3            3
9  10                          Amadeus  1984     8.4         1            5

In [38]:
consulta('SELECT * FROM movies ORDER BY title DESC')

    id                            title  year  rating  genre_id  director_id
0   19                           WALL·E  2008     8.5         3           14
1   39                   Twelve Monkeys  1995     8.1         4           30
2   32                    Trainspotting  1996     8.2         1           24
3   20                      Toy Story 3  2010     8.4         3           15
4   25                        Toy Story  1995     8.3         3           20
5    6                          Titanic  1997     7.7         1            6
6   28          The Wolf of Wall Street  2013     8.3         5            4
7   42                  The Truman Show  1998     8.1         1           32
8   40                   The Terminator  1984     8.1         2            6
9    2         The Shawshank Redemption  1994     9.3         1            2
10  16                       The Matrix  1999     8.7         2           13
11  41                The King's Speech  2010     8.1         1           31
12   1                    The Godfather  1972     9.2         1            1
13  13                  The Dark Knight  2008     9.0         2           11
14  31                 The Big Lebowski  1998     8.2         5           23
15  36                     The Avengers  2012     8.2         2           28
16  18       Terminator 2: Judgment Day  1991     8.5         2            6
17   8                        Star Wars  1977     8.7         2            8
18  35                         Sin City  2005     8.1         4           27
19  38                   Shutter Island  2010     8.1         4            4
20  17                            Se7en  1995     8.7         1           12
21   3                 Schindler's List  1993     8.9         1            3
22  26                         Scarface  1983     8.3         1           21
23  21                   Reservoir Dogs  1992     8.4         2           16
24   4                      Raging Bull  1980     8.3         1            4
25  34                          Platoon  1986     8.1         1           26
26   5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
27  43                    Jurassic Park  1993     8.0         3            3
28  15                        Inception  2010     8.8         2           11
29  23                             Heat  1995     8.3         2           18
30  30                      Gran Torino  2008     8.2         1           22
31  24                Good Will Hunting  1997     8.3         1           19
32  27                        Gone Girl  2014     8.3         4           12
33  12                        Gladiator  2000     8.5         2           10
34   7                     Forrest Gump  1994     8.8         1            7
35  14                       Fight Club  1999     8.9         2           12
36   9       E.T. the Extra-Terrestrial  1982     7.9         3            3
37  37                     Donnie Darko  2001     8.1         1           29
38  22                       Braveheart  1995     8.4         2           17
39  29                     Blade Runner  1982     8.2         4           10
40  11                   Apocalypse Now  1979     8.5         2            9
41  10                          Amadeus  1984     8.4         1            5
42  33                 A Beautiful Mind  2001     8.2         1           25

In [46]:
# SELECIONE OS 5 FILMES DE MAIORES NOTAS

consulta('SELECT * FROM movies ORDER BY rating DESC LIMIT 10')

   id                            title  year  rating  genre_id  director_id
0   2         The Shawshank Redemption  1994     9.3         1            2
1   1                    The Godfather  1972     9.2         1            1
2  13                  The Dark Knight  2008     9.0         2           11
3   3                 Schindler's List  1993     8.9         1            3
4  14                       Fight Club  1999     8.9         2           12
5   7                     Forrest Gump  1994     8.8         1            7
6  15                        Inception  2010     8.8         2           11
7   5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
8   8                        Star Wars  1977     8.7         2            8
9  16                       The Matrix  1999     8.7         2           13

In [63]:
# QUAIS OS NOMES DOS FILMES LANÇADOS DEPOIS DE 2000

consulta('SELECT * FROM movies WHERE year >= 2000')

    id                    title  year  rating  genre_id  director_id
0   12                Gladiator  2000     8.5         2           10
1   13          The Dark Knight  2008     9.0         2           11
2   15                Inception  2010     8.8         2           11
3   19                   WALL·E  2008     8.5         3           14
4   20              Toy Story 3  2010     8.4         3           15
5   27                Gone Girl  2014     8.3         4           12
6   28  The Wolf of Wall Street  2013     8.3         5            4
7   30              Gran Torino  2008     8.2         1           22
8   33         A Beautiful Mind  2001     8.2         1           25
9   35                 Sin City  2005     8.1         4           27
10  36             The Avengers  2012     8.2         2           28
11  37             Donnie Darko  2001     8.1         1           29
12  38           Shutter Island  2010     8.1         4            4
13  41        The King's Speech  2010     8.1         1           31

In [66]:
# QUAIS OS NOMES DOS FILMES LANÇADOS DEPOIS DE 2000 COM RATING MAIOR QUE 8.5

consulta('SELECT * FROM movies WHERE year >= 2000 AND rating > 8.5')

   id            title  year  rating  genre_id  director_id
0  13  The Dark Knight  2008     9.0         2           11
1  15        Inception  2010     8.8         2           11

In [72]:
# QUAIS OS NOMES DOS FILMES LANÇADOS DEPOIS DE 2000 OU COM NOTA MAIOR QUE 8.5

consulta('SELECT id, title, year, rating FROM movies WHERE year >= 2000 OR rating > 8.5 ORDER BY rating DESC LIMIT 10')

   id                            title  year  rating
0   2         The Shawshank Redemption  1994     9.3
1   1                    The Godfather  1972     9.2
2  13                  The Dark Knight  2008     9.0
3   3                 Schindler's List  1993     8.9
4  14                       Fight Club  1999     8.9
5   7                     Forrest Gump  1994     8.8
6  15                        Inception  2010     8.8
7   5  One Flew Over the Cuckoo's Nest  1975     8.7
8   8                        Star Wars  1977     8.7
9  16                       The Matrix  1999     8.7

In [73]:
consulta('''
            SELECT 
                id,
                title,
                year,
                rating
            FROM movies 
            WHERE 
                year >= 2000 
                OR rating > 8.5 
            ORDER BY 
                rating DESC
            LIMIT 10
         ''')

   id                            title  year  rating
0   2         The Shawshank Redemption  1994     9.3
1   1                    The Godfather  1972     9.2
2  13                  The Dark Knight  2008     9.0
3   3                 Schindler's List  1993     8.9
4  14                       Fight Club  1999     8.9
5   7                     Forrest Gump  1994     8.8
6  15                        Inception  2010     8.8
7   5  One Flew Over the Cuckoo's Nest  1975     8.7
8   8                        Star Wars  1977     8.7
9  16                       The Matrix  1999     8.7

In [75]:
consulta('SELECT * FROM movies WHERE year >= 2000')

    id                    title  year  rating  genre_id  director_id
0   12                Gladiator  2000     8.5         2           10
1   13          The Dark Knight  2008     9.0         2           11
2   15                Inception  2010     8.8         2           11
3   19                   WALL·E  2008     8.5         3           14
4   20              Toy Story 3  2010     8.4         3           15
5   27                Gone Girl  2014     8.3         4           12
6   28  The Wolf of Wall Street  2013     8.3         5            4
7   30              Gran Torino  2008     8.2         1           22
8   33         A Beautiful Mind  2001     8.2         1           25
9   35                 Sin City  2005     8.1         4           27
10  36             The Avengers  2012     8.2         2           28
11  37             Donnie Darko  2001     8.1         1           29
12  38           Shutter Island  2010     8.1         4            4
13  41        The King's Speech  2010     8.1         1           31

In [80]:
consulta("SELECT * FROM movies WHERE title = 'Gladiator' ")

   id      title  year  rating  genre_id  director_id
0  12  Gladiator  2000     8.5         2           10

In [82]:
consulta("SELECT * FROM movies WHERE title LIKE 'Glad%' ")

   id      title  year  rating  genre_id  director_id
0  12  Gladiator  2000     8.5         2           10

In [83]:
consulta("SELECT * FROM movies WHERE title LIKE '%Story' ")

   id      title  year  rating  genre_id  director_id
0  25  Toy Story  1995     8.3         3           20

In [84]:
consulta("SELECT * FROM movies WHERE title LIKE '%Story%' ")

   id        title  year  rating  genre_id  director_id
0  20  Toy Story 3  2010     8.4         3           15
1  25    Toy Story  1995     8.3         3           20

In [102]:
consulta("SELECT * FROM movies WHERE title LIKE 'The%' ")

   id                     title  year  rating  genre_id  director_id
0   1             The Godfather  1972     9.2         1            1
1   2  The Shawshank Redemption  1994     9.3         1            2
2  13           The Dark Knight  2008     9.0         2           11
3  16                The Matrix  1999     8.7         2           13
4  28   The Wolf of Wall Street  2013     8.3         5            4
5  31          The Big Lebowski  1998     8.2         5           23
6  36              The Avengers  2012     8.2         2           28
7  40            The Terminator  1984     8.1         2            6
8  41         The King's Speech  2010     8.1         1           31
9  42           The Truman Show  1998     8.1         1           32

In [90]:
consulta("SELECT * FROM movies WHERE title LIKE '%OD%' ")

   id              title  year  rating  genre_id  director_id
0   1      The Godfather  1972     9.2         1            1
1  24  Good Will Hunting  1997     8.3         1           19

In [99]:
# Liste todos os filmes do Toy Story
consulta("SELECT * FROM movies WHERE rating LIKE '8.%'")

    id                            title  year  rating  genre_id  director_id
0    3                 Schindler's List  1993     8.9         1            3
1    4                      Raging Bull  1980     8.3         1            4
2    5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
3    7                     Forrest Gump  1994     8.8         1            7
4    8                        Star Wars  1977     8.7         2            8
5   10                          Amadeus  1984     8.4         1            5
6   11                   Apocalypse Now  1979     8.5         2            9
7   12                        Gladiator  2000     8.5         2           10
8   14                       Fight Club  1999     8.9         2           12
9   15                        Inception  2010     8.8         2           11
10  16                       The Matrix  1999     8.7         2           13
11  17                            Se7en  1995     8.7         1           12
12  18       Terminator 2: Judgment Day  1991     8.5         2            6
13  19                           WALL·E  2008     8.5         3           14
14  20                      Toy Story 3  2010     8.4         3           15
15  21                   Reservoir Dogs  1992     8.4         2           16
16  22                       Braveheart  1995     8.4         2           17
17  23                             Heat  1995     8.3         2           18
18  24                Good Will Hunting  1997     8.3         1           19
19  25                        Toy Story  1995     8.3         3           20
20  26                         Scarface  1983     8.3         1           21
21  27                        Gone Girl  2014     8.3         4           12
22  28          The Wolf of Wall Street  2013     8.3         5            4
23  29                     Blade Runner  1982     8.2         4           10
24  30                      Gran Torino  2008     8.2         1           22
25  31                 The Big Lebowski  1998     8.2         5           23
26  32                    Trainspotting  1996     8.2         1           24
27  33                 A Beautiful Mind  2001     8.2         1           25
28  34                          Platoon  1986     8.1         1           26
29  35                         Sin City  2005     8.1         4           27
30  36                     The Avengers  2012     8.2         2           28
31  37                     Donnie Darko  2001     8.1         1           29
32  38                   Shutter Island  2010     8.1         4            4
33  39                   Twelve Monkeys  1995     8.1         4           30
34  40                   The Terminator  1984     8.1         2            6
35  41                The King's Speech  2010     8.1         1           31
36  42                  The Truman Show  1998     8.1         1           32
37  43                    Jurassic Park  1993     8.0         3            3

In [108]:
consulta("SELECT * FROM movies JOIN directors ON movies.director_id = directors.id ")

,id,title,year,rating,genre_id,director_id,id,name
0,1,The Godfather,1972,9.2,1,1,1,Francis Ford Coppola
1,2,The Shawshank Redemption,1994,9.3,1,2,2,Frank Darabont
2,3,Schindler's List,1993,8.9,1,3,3,Steven Spielberg
3,4,Raging Bull,1980,8.3,1,4,4,Martin Scorsese
4,5,One Flew Over the Cuckoo's Nest,1975,8.7,1,5,5,Milos Forman
5,6,Titanic,1997,7.7,1,6,6,James Cameron
6,7,Forrest Gump,1994,8.8,1,7,7,Robert Zemeckis
7,8,Star Wars,1977,8.7,2,8,8,George Lucas
8,9,E.T. the Extra-Terrestrial,1982,7.9,3,3,3,Steven Spielberg
9,10,Amadeus,1984,8.4,1,5,5,Milos Forman
10,11,Apocalypse Now,1979,8.5,2,9,9,Francis Coppola
11,12,Gladiator,2000,8.5,2,10,10,Ridley Scott
12,13,The Dark Knight,2008,9.0,2,11,11,Christopher Nolan
13,14,Fight Club,1999,8.9,2,12,12,David Fincher
14,15,Inception,2010,8.8,2,11,11,Christopher Nolan
15,16,The Matrix,1999,8.7,2,13,13,Andy Wachowski
16,17,Se7en,1995,8.7,1,12,12,David Fincher
17,18,Terminator 2: Judgment Day,1991,8.5,2,6,6,James Cameron
18,19,WALL·E,2008,8.5,3,14,14,Andrew Stanton
19,20,Toy Story 3,2010,8.4,3,15,15,Lee Unkrich
20,21,Reservoir Dogs,1992,8.4,2,16,16,Quentin Tarantino
21,22,Braveheart,1995,8.4,2,17,17,Mel Gibson
22,23,Heat,1995,8.3,2,18,18,Michael Mann
23,24,Good Will Hunting,1997,8.3,1,19,19,Gus Van Sant
24,25,Toy Story,1995,8.3,3,20,20,John Lasseter
25,26,Scarface,1983,8.3,1,21,21,Brian De Palma
26,27,Gone Girl,2014,8.3,4,12,12,David Fincher
27,28,The Wolf of Wall Street,2013,8.3,5,4,4,Martin Scorsese
28,29,Blade Runner,1982,8.2,4,10,10,Ridley Scott
29,30,Gran Torino,2008,8.2,1,22,22,Clint Eastwood
30,31,The Big Lebowski,1998,8.2,5,23,23,Joel Coen
31,32,Trainspotting,1996,8.2,1,24,24,Danny Boyle
32,33,A Beautiful Mind,2001,8.2,1,25,25,Ron Howard
33,34,Platoon,1986,8.1,1,26,26,Oliver Stone
34,35,Sin City,2005,8.1,4,27,27,Frank Miller
35,36,The Avengers,2012,8.2,2,28,28,Joss Whedon
36,37,Donnie Darko,2001,8.1,1,29,29,Richard Kelly
37,38,Shutter Island,2010,8.1,4,4,4,Martin Scorsese
38,39,Twelve Monkeys,1995,8.1,4,30,30,Terry Gilliam
39,40,The Terminator,1984,8.1,2,6,6,James Cameron
40,41,The King's Speech,2010,8.1,1,31,31,Tom Hooper
41,42,The Truman Show,1998,8.1,1,32,32,Peter Weir
42,43,Jurassic Park,1993,8.0,3,3,3,Steven Spielberg

In [109]:
consulta("SELECT movies.title, directors.name FROM movies JOIN directors ON movies.director_id = directors.id ")

                              title                  name
0                     The Godfather  Francis Ford Coppola
1          The Shawshank Redemption        Frank Darabont
2                  Schindler's List      Steven Spielberg
3                       Raging Bull       Martin Scorsese
4   One Flew Over the Cuckoo's Nest          Milos Forman
5                           Titanic         James Cameron
6                      Forrest Gump       Robert Zemeckis
7                         Star Wars          George Lucas
8        E.T. the Extra-Terrestrial      Steven Spielberg
9                           Amadeus          Milos Forman
10                   Apocalypse Now       Francis Coppola
11                        Gladiator          Ridley Scott
12                  The Dark Knight     Christopher Nolan
13                       Fight Club         David Fincher
14                        Inception     Christopher Nolan
15                       The Matrix        Andy Wachowski
16                            Se7en         David Fincher
17       Terminator 2: Judgment Day         James Cameron
18                           WALL·E        Andrew Stanton
19                      Toy Story 3           Lee Unkrich
20                   Reservoir Dogs     Quentin Tarantino
21                       Braveheart            Mel Gibson
22                             Heat          Michael Mann
23                Good Will Hunting          Gus Van Sant
24                        Toy Story         John Lasseter
25                         Scarface        Brian De Palma
26                        Gone Girl         David Fincher
27          The Wolf of Wall Street       Martin Scorsese
28                     Blade Runner          Ridley Scott
29                      Gran Torino        Clint Eastwood
30                 The Big Lebowski             Joel Coen
31                    Trainspotting           Danny Boyle
32                 A Beautiful Mind            Ron Howard
33                          Platoon          Oliver Stone
34                         Sin City          Frank Miller
35                     The Avengers           Joss Whedon
36                     Donnie Darko         Richard Kelly
37                   Shutter Island       Martin Scorsese
38                   Twelve Monkeys         Terry Gilliam
39                   The Terminator         James Cameron
40                The King's Speech            Tom Hooper
41                  The Truman Show            Peter Weir
42                    Jurassic Park      Steven Spielberg

In [110]:
consulta("SELECT * FROM movies JOIN genres ON movies.genre_id = genres.id")

,id,title,year,rating,genre_id,director_id,id,name
0,1,The Godfather,1972,9.2,1,1,1,Drama
1,2,The Shawshank Redemption,1994,9.3,1,2,1,Drama
2,3,Schindler's List,1993,8.9,1,3,1,Drama
3,4,Raging Bull,1980,8.3,1,4,1,Drama
4,5,One Flew Over the Cuckoo's Nest,1975,8.7,1,5,1,Drama
5,6,Titanic,1997,7.7,1,6,1,Drama
6,7,Forrest Gump,1994,8.8,1,7,1,Drama
7,8,Star Wars,1977,8.7,2,8,2,Action
8,9,E.T. the Extra-Terrestrial,1982,7.9,3,3,3,Adventure
9,10,Amadeus,1984,8.4,1,5,1,Drama
10,11,Apocalypse Now,1979,8.5,2,9,2,Action
11,12,Gladiator,2000,8.5,2,10,2,Action
12,13,The Dark Knight,2008,9.0,2,11,2,Action
13,14,Fight Club,1999,8.9,2,12,2,Action
14,15,Inception,2010,8.8,2,11,2,Action
15,16,The Matrix,1999,8.7,2,13,2,Action
16,17,Se7en,1995,8.7,1,12,1,Drama
17,18,Terminator 2: Judgment Day,1991,8.5,2,6,2,Action
18,19,WALL·E,2008,8.5,3,14,3,Adventure
19,20,Toy Story 3,2010,8.4,3,15,3,Adventure
20,21,Reservoir Dogs,1992,8.4,2,16,2,Action
21,22,Braveheart,1995,8.4,2,17,2,Action
22,23,Heat,1995,8.3,2,18,2,Action
23,24,Good Will Hunting,1997,8.3,1,19,1,Drama
24,25,Toy Story,1995,8.3,3,20,3,Adventure
25,26,Scarface,1983,8.3,1,21,1,Drama
26,27,Gone Girl,2014,8.3,4,12,4,Thriller
27,28,The Wolf of Wall Street,2013,8.3,5,4,5,Comedy
28,29,Blade Runner,1982,8.2,4,10,4,Thriller
29,30,Gran Torino,2008,8.2,1,22,1,Drama
30,31,The Big Lebowski,1998,8.2,5,23,5,Comedy
31,32,Trainspotting,1996,8.2,1,24,1,Drama
32,33,A Beautiful Mind,2001,8.2,1,25,1,Drama
33,34,Platoon,1986,8.1,1,26,1,Drama
34,35,Sin City,2005,8.1,4,27,4,Thriller
35,36,The Avengers,2012,8.2,2,28,2,Action
36,37,Donnie Darko,2001,8.1,1,29,1,Drama
37,38,Shutter Island,2010,8.1,4,4,4,Thriller
38,39,Twelve Monkeys,1995,8.1,4,30,4,Thriller
39,40,The Terminator,1984,8.1,2,6,2,Action
40,41,The King's Speech,2010,8.1,1,31,1,Drama
41,42,The Truman Show,1998,8.1,1,32,1,Drama
42,43,Jurassic Park,1993,8.0,3,3,3,Adventure

In [118]:
consulta("SELECT movies.title, movies.year, movies.rating, genres.name genre, directors.name director FROM movies JOIN genres ON movies.genre_id = genres.id JOIN directors ON movies.director_id = directors.id ")

,title,year,rating,genre,director
0,The Godfather,1972,9.2,Drama,Francis Ford Coppola
1,The Shawshank Redemption,1994,9.3,Drama,Frank Darabont
2,Schindler's List,1993,8.9,Drama,Steven Spielberg
3,Raging Bull,1980,8.3,Drama,Martin Scorsese
4,One Flew Over the Cuckoo's Nest,1975,8.7,Drama,Milos Forman
5,Titanic,1997,7.7,Drama,James Cameron
6,Forrest Gump,1994,8.8,Drama,Robert Zemeckis
7,Star Wars,1977,8.7,Action,George Lucas
8,E.T. the Extra-Terrestrial,1982,7.9,Adventure,Steven Spielberg
9,Amadeus,1984,8.4,Drama,Milos Forman
10,Apocalypse Now,1979,8.5,Action,Francis Coppola
11,Gladiator,2000,8.5,Action,Ridley Scott
12,The Dark Knight,2008,9.0,Action,Christopher Nolan
13,Fight Club,1999,8.9,Action,David Fincher
14,Inception,2010,8.8,Action,Christopher Nolan
15,The Matrix,1999,8.7,Action,Andy Wachowski
16,Se7en,1995,8.7,Drama,David Fincher
17,Terminator 2: Judgment Day,1991,8.5,Action,James Cameron
18,WALL·E,2008,8.5,Adventure,Andrew Stanton
19,Toy Story 3,2010,8.4,Adventure,Lee Unkrich
20,Reservoir Dogs,1992,8.4,Action,Quentin Tarantino
21,Braveheart,1995,8.4,Action,Mel Gibson
22,Heat,1995,8.3,Action,Michael Mann
23,Good Will Hunting,1997,8.3,Drama,Gus Van Sant
24,Toy Story,1995,8.3,Adventure,John Lasseter
25,Scarface,1983,8.3,Drama,Brian De Palma
26,Gone Girl,2014,8.3,Thriller,David Fincher
27,The Wolf of Wall Street,2013,8.3,Comedy,Martin Scorsese
28,Blade Runner,1982,8.2,Thriller,Ridley Scott
29,Gran Torino,2008,8.2,Drama,Clint Eastwood
30,The Big Lebowski,1998,8.2,Comedy,Joel Coen
31,Trainspotting,1996,8.2,Drama,Danny Boyle
32,A Beautiful Mind,2001,8.2,Drama,Ron Howard
33,Platoon,1986,8.1,Drama,Oliver Stone
34,Sin City,2005,8.1,Thriller,Frank Miller
35,The Avengers,2012,8.2,Action,Joss Whedon
36,Donnie Darko,2001,8.1,Drama,Richard Kelly
37,Shutter Island,2010,8.1,Thriller,Martin Scorsese
38,Twelve Monkeys,1995,8.1,Thriller,Terry Gilliam
39,The Terminator,1984,8.1,Action,James Cameron
40,The King's Speech,2010,8.1,Drama,Tom Hooper
41,The Truman Show,1998,8.1,Drama,Peter Weir
42,Jurassic Park,1993,8.0,Adventure,Steven Spielberg