In [3]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data/movie_database.db')

In [5]:
pd.read_sql('SELECT * FROM directors', conn)

    id                  name
0    1  Francis Ford Coppola
1    2        Frank Darabont
2    3      Steven Spielberg
3    4       Martin Scorsese
4    5          Milos Forman
5    6         James Cameron
6    7       Robert Zemeckis
7    8          George Lucas
8    9       Francis Coppola
9   10          Ridley Scott
10  11     Christopher Nolan
11  12         David Fincher
12  13        Andy Wachowski
13  14        Andrew Stanton
14  15           Lee Unkrich
15  16     Quentin Tarantino
16  17            Mel Gibson
17  18          Michael Mann
18  19          Gus Van Sant
19  20         John Lasseter
20  21        Brian De Palma
21  22        Clint Eastwood
22  23             Joel Coen
23  24           Danny Boyle
24  25            Ron Howard
25  26          Oliver Stone
26  27          Frank Miller
27  28           Joss Whedon
28  29         Richard Kelly
29  30         Terry Gilliam
30  31            Tom Hooper
31  32            Peter Weir

In [4]:
pd.read_sql('SELECT * FROM movies', conn)

    id                            title  year  rating  genre_id  director_id
0    1                    The Godfather  1972     9.2         1            1
1    2         The Shawshank Redemption  1994     9.3         1            2
2    3                 Schindler's List  1993     8.9         1            3
3    4                      Raging Bull  1980     8.3         1            4
4    5  One Flew Over the Cuckoo's Nest  1975     8.7         1            5
5    6                          Titanic  1997     7.7         1            6
6    7                     Forrest Gump  1994     8.8         1            7
7    8                        Star Wars  1977     8.7         2            8
8    9       E.T. the Extra-Terrestrial  1982     7.9         3            3
9   10                          Amadeus  1984     8.4         1            5
10  11                   Apocalypse Now  1979     8.5         2            9
11  12                        Gladiator  2000     8.5         2           10
12  13                  The Dark Knight  2008     9.0         2           11
13  14                       Fight Club  1999     8.9         2           12
14  15                        Inception  2010     8.8         2           11
15  16                       The Matrix  1999     8.7         2           13
16  17                            Se7en  1995     8.7         1           12
17  18       Terminator 2: Judgment Day  1991     8.5         2            6
18  19                           WALL·E  2008     8.5         3           14
19  20                      Toy Story 3  2010     8.4         3           15
20  21                   Reservoir Dogs  1992     8.4         2           16
21  22                       Braveheart  1995     8.4         2           17
22  23                             Heat  1995     8.3         2           18
23  24                Good Will Hunting  1997     8.3         1           19
24  25                        Toy Story  1995     8.3         3           20
25  26                         Scarface  1983     8.3         1           21
26  27                        Gone Girl  2014     8.3         4           12
27  28          The Wolf of Wall Street  2013     8.3         5            4
28  29                     Blade Runner  1982     8.2         4           10
29  30                      Gran Torino  2008     8.2         1           22
30  31                 The Big Lebowski  1998     8.2         5           23
31  32                    Trainspotting  1996     8.2         1           24
32  33                 A Beautiful Mind  2001     8.2         1           25
33  34                          Platoon  1986     8.1         1           26
34  35                         Sin City  2005     8.1         4           27
35  36                     The Avengers  2012     8.2         2           28
36  37                     Donnie Darko  2001     8.1         1           29
37  38                   Shutter Island  2010     8.1         4            4
38  39                   Twelve Monkeys  1995     8.1         4           30
39  40                   The Terminator  1984     8.1         2            6
40  41                The King's Speech  2010     8.1         1           31
41  42                  The Truman Show  1998     8.1         1           32
42  43                    Jurassic Park  1993     8.0         3            3